<% include header.ejs %>
<form class="form-horizontal" method="post">
	<fieldset>
		<legend>account login</legend>
		<div class="form-group">
			<label for="username" class="control-label col-sm-1">account name</label>
			<div class="col-sm-4">
      			<input type="text" class="form-control" id="username" name="account" placeholder="account name">
    		</div>
		</div>
		<div class="form-group">
			<label for="password" class="control-label col-sm-1">password</label>
			<div class="col-sm-4">
      			<input type="text" class="form-control" id="password" name="password" placeholder="password">
    		</div>
		</div>
		<div class="form-group" >
		<div class="col-sm-offset-1 col-sm-10">
			<button type="submit" class="btn btn-primary">login</button>
		  </div>
		</div>
	</fieldset>
</form>
<% include footer.ejs %>
