<% include header.ejs %>
<div class="container-fluid" style="width:100%;">
    <div class="row">
        <!--
        <div class="span2" style="float:left;width:25%;">
        -->
        <div class="col-md-2">
            <!--Sidebar content-->
            <ul class="list-group">
                <li class="list-group-item"><a href="/user/account/settings/profile">personal profile</a></li>
                <li class="list-group-item"><a href="/user/account/settings/devices">devices</a></li>
                <li class="list-group-item"><a href="#">application</a></li>
                <li class="list-group-item"><a href="#">data analysis</a></li>
            </ul>
        </div>
        <!--<div class="span10" style="float:right;width:75%;">-->
        <div class="col-md-10">
            <!--Body content-->
            <% if (setItem == 'profile')  { %>
            <% include profile.ejs %>
            <% } %>
            <% if (setItem == 'devices') { %>
                <% include devices.ejs %>

            <% } %>
        </div>
    </div>
</div>

<% include footer.ejs %>
