</div>
    <div class="footer">
        <div class="container">
          <div class="col-md-4">
            <p class="footer-sub"><strong>Open Source</strong></p>
            <ul>
              <li><a href="https://www.github.com/europelee" target="_blank">EUROPELEE OPEN SOURCE</a></li>
              <li><a href="https://www.athenacloud.net" target="_blank">PIGEON - OPEN SOURCE CLOUD PLATFORM</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <p class="footer-sub"><strong>Stay in Touch</strong></p>
            <ul>
              <li><a href="http://www.cnblogs.com/europelee" target="_blank">MY TECH BLOG</a></li>
              <li><a href="http://weibo.com/u/5776347540" target="_blank">MY WEIBO</a></li>
              <li><a href="mailto:wwweurope@163.com">CONTACT ME VIA EMAIL</a></li>
            </ul>
          </div>
          <div class="powered-by-copyright col-md-4">
            <a href="/"><img src="/images/favicon.ico" /></a>
            <p style="clear:both;">&copy; 2015 BY EUROPELEE. ALL RIGHTS RESERVED</p>
          </div>
        </div>
    </div>
</body>
<script src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
</html>
