<div class="boxed-group">
<h3>Personal profile</h3>
<div class="form">
  <fieldset>
    <label>App Key</label>
    <input readonly="readonly" id="appkeyid" type="text" name="appkey" value="<% if (typeof(appkey) != 'undefined') { %>
<%= appkey %><% } %>" >
    <span ></span>
  </fieldset>

  <fieldset>
    <label>App Secret</label>
    <input readonly="readonly" id="appsecretid" type="text" name="appsecret" value="<% if (typeof(appsecret) != 'undefined') { %>
<%= appsecret %><% } %>" >
    <span ></span>
  </fieldset>
</div>
</div>
