<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
<% include statics.ejs %>
<title><%= title %> - open source IoT Cloud Platform</title>
<link rel="shortcut icon" href="/images/favicon.ico">
<style type="text/css">
/*body {
padding-top: 60px;
padding-bottom: 40px;
}*/
</style>

<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<nav class="navbar  navbar-default navbar-fixed-top hidden-print" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <span class="navbar-brand-logo"></span>
                pigeon
            </a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                <a href="./news/index.html" target="_blank">
                    News
                </a>
                <ul class="dropdown-menu">
                    <li>
                    <a href="./news/index.html" target="_blank">
                        <i class="fa fa-archive"></i>
                        For Developers 
                    </a>
                    </li>
                    <li>
                    <a href="./news/index.html" target="_blank">
                        <i class="fa fa-archive"></i>
                        For Users 
                    </a>
                    </li>
                </ul>
                </li>
                <li class="dropdown">
                <a href="./downloads.html">
                    Downloads
                </a>
                <ul class="dropdown-menu">
                    <li>
                    <a href="https://github.com/europelee/pigeon/archive/master.zip">
                        <i class="fa fa-cloud-download"></i>
                        master-source
                        <small>&dash; latest</small>
                    </a>
                    </li>
                </ul>
                </li> 
            </ul>
        </div>
    </div>
</nav>
